CONFIG_BT_ENABLED=n
CONFIG_ESP_MAC_IGNORE_MAC_CRC_ERROR=y
CONFIG_ESP_MAC_USE_CUSTOM_MAC_AS_BASE_MAC=y
CONFIG_ESP32_IGNORE_MAC_CRC_ERROR=y
CONFIG_ESP32S3_IGNORE_MAC_CRC_ERROR=n
CONFIG_ESP32C3_IGNORE_MAC_CRC_ERROR=n

CONFIG_UNITY_ENABLE=y